<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Downing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>Lefting.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,54},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>Overing.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,71},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>Righting.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>Sleeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>Staying.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,106},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>Uping.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GirlAction.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2627855e5ccea6a4f7f691a64935cc3b$</string>
            <key>textureFileName</key>
            <string>GirlAction.png</string>
        </dict>
    </dict>
</plist>
