<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>load13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211c39535d48ca9921fae31bd896b99c$</string>
            <key>textureFileName</key>
            <string>load.png</string>
        </dict>
    </dict>
</plist>
